.error-404{
    font-family: 'Open Sans', sans-seriff;
    font-size: 14px;
    color: #337ab7;
    background: url('../img/noise.png');
    background-repeat: repeat;   
}


.error-404 h1,.error-404 h2,.error-404 h3,.error-404 h4,.error-404 h5,.error-404 h6{
    font-family: 'Open Sans', sans-seriff;
    font-weight: 700;
}

.error-404 h1{font-size: 150px; margin-top: 0px;}

.error-404 .center{
    text-align: center;
}

.error-404 .capital{
    text-transform: uppercase;
}

.error-404 .f1{font-size: 34px}


@keyframes bubbles1  
{
    0%  {opacity: 0; width:7px; height:7px; top:100px; left:70px;}
25%  {opacity: .25; width:8px; height:8px;  top:90px; left:70px;}
50%  {opacity: .5; width:9px; height:9px;  top:70px; left:70px;}
75%  {opacity: .75; width:10px; height:10px;  top:60px; left:65px;}
100%  {opacity: 0; width:11px; height:11px; top:30px; left:70px;}

}

@-webkit-keyframes bubbles1 
{
    0%  {opacity: 0; width:5px; height:5px; top:100px; left:70px;}
25%  {opacity: .25; width:6px; height:6px;  top:90px; left:70px;}
50%  {opacity: .5; width:7px; height:7px;  top:50px; left:70px;}
75%  {opacity: .75; width:9px; height:9px;  top:40px; left:65px;}
100%  {opacity: 0; width:10px; height:10px; top:10px; left:75px;}

}


.error-404 #cflask-holder span{
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    display: block;
    background-color: #fff;
    margin:0px auto;
    text-align: center;
    border-radius: 150px;
    position: relative;
}

.error-404 #cflask-holder span i{
    padding: 40px 0px 0px 0px;
    font-size: 80px;
}

.error-404 #cflask-holder span i#b1{  
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #337ab7;
    left: 70px;
    top: 70px;
    -webkit-animation: bubbles1 infinite linear 1s;
    animation: bubbles1 infinite linear 1s;
    padding: 0px;
}

.error-404 #cflask-holder span i#b2{  
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #337ab7;
    left: 70px;
    top: 70px;
    -webkit-animation: bubbles1 infinite linear 2s;
    animation: bubbles1 infinite linear 2s;
    padding: 0px;
}

.error-404 #cflask-holder span i#b3{  
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #337ab7;
    left: 70px;
    top: 70px;
    -webkit-animation: bubbles1 infinite linear 2500ms;
    animation: bubbles1 infinite linear 2500ms;
    padding: 0px;
}

.error-404 .row1 p{
    font-size: 35px;
}


.error-404 .search-form{
    margin-top: 20px;
}


.error-404 input[type="text"]{
    height: 42px;
    border: 1px solid #2e6da4;
    outline-color: #ccc;

    transition: all .2s linear; -moz-transition: all .2s linear; -webkit-transition : all .2s linear; -o-transition: all .2s linear;
}

.error-404 input[type="text"]:focus{
    outline-color: #337ab7;
}

.error-404 .go-back{
    display: block;
    margin: 10px auto 0px auto;
    min-width: 150px;
    width: 150px;
}

.error-404 input[type="submit"]:hover{
    background-color: #0b416f;
}

.error-404 .links-wrapper{
    margin-top: 20px;
}

.error-404 ul.links{
    float: none;
    display: block;
    margin: 0px auto;
}
.error-404 ul.links li{
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}


.error-404 ul.links li a{
    height: 50px;
    width: 50px;
    min-width: 50px;
    display: inline-block;
    padding: 3px 0px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    color: #337ab7;
    transition: all .2s linear; -moz-transition: all .2s linear; -webkit-transition : all .2s linear; -o-transition: all .2s linear;
}

.error-404 ul.links li a:hover{
    background-color: #337ab7;
    color: #fff;
}

.error-404 ul.links li a i{
    padding: 10px 0px;
}





